<div class="container">
  Search by description:<br>
  <%= form_tag search_matter_path, :method => 'get' do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>


  <h3>List of all matters:</h3>
  <%= render "matters/matterlist" %>

  <br>

</div>
