/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ---------- GENERAL LAYOUT ---------- */

h1, h2, h3, h4, h5 {
  font-family: Gafata, sans-serif;
}

p {
  font-family: Gafata, sans-serif;
}

.hide {
  display: none;
}

body {
  /*background-color: #e5e7ff;*/
  /*background-color: #f5ffe5;*/
  background-color: #e5e7ff;
  font-family: Gafata, sans-serif;
}

.float-right {
  float: right;
}

.float-left{
  float: left;
}

div .container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 65%;
}

a {
  text-decoration: none;
  color: #f85c37;
  word-wrap: break-word;
  font-weight: 500;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

.container_body {
  padding: 100px;
  text-align: center;
}

/* --------- CSS BUTTON ------- */

.css_button {
  position: relative;
  float: left;
  padding: 20px;
  background-color: #b3b3b3;
  border-radius: 20px;
  margin: 30px;
  text-align: center
}
.css_button a {
  color: white;
}
.css_button a:hover {
  color: #f85c37;
}


/* ------- TABLE ----------- */

table {
  width: 100%;
}
tr:nth-child(odd) {
  background-color: #b8f6d9;
}
tr:nth-child(even) {
 background-color: #fff1e6;
}

tr:first-child {
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: thin solid black;
  /*outline: thin solid black;*/
  background-color: #b3b9ff;
}


/* ------- NAV BAR ---------- */

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 15px;

    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;

    /*background-color: rgba(1, 1, 1, 0.8);*/
    /*background-color: #99a0ff;*/
    background-color: #555555;
    /*color: rgba(1, 1, 1, 0.8);*/

}

#navigation {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

nav a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: #b8f6d9;
    text-decoration: none;
}

nav a:hover {
    color: #f6d9b8;
}

/* ------- FORMS ------ */

.error {
  color: red;
  list-style-type: none;
}

.new_user, .new_session, .new_matter, .edit_task {
  margin: 0 auto;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  width: 300px;
  /*height: 40%;*/
}

.new_user label, .new_session label, .new_matter label .edit_task label {
  float: left;
}

.new_user input[type=text], .new_user input[type=password],
.new_session input[type=text],.new_session input[type=password],
.new_matter input[type=text],
  .new_matter input[type=password],
  .new_matter textarea,
  .new_matter select,
.edit_task input[type=text], .edit_task select
{
  position: relative;
  float: right;
  width: 150px;
}


/* ------- NAVTIMER PARTIAL ------- */

.navtimer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  background-color: #fff1e6;
  padding: 30px 40px;
  border-radius: 30px;
}

.navtimer h2 {
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.navtimer p {
  margin: 10px 0;
}

.navtimer #task-and-user p {
  display: inline-block;
}

.navtimer #task-start-time {
  text-align: center;
}

.navtimer #task-and-user p:nth-child(2) {
  float: right;
}

.navtimer #ticker-container p  {
  font-size: 5em;
  text-align: center;
}

.navtimer .edit_task {
  text-align: center;
}

.navtimer input[type=submit] {
  padding:10px;
  border:2px solid #a1f3cd;
  -webkit-border-radius: 5px;
  border-radius: 10px;
  background-color: #a1f3cd;
  font-size: 1.25em;
}

.navtimer #task-submit-button {
  clear: both;
}

/* --------- USER PROFIE --------- */
.profile_page {
  padding: 20px;
  /*outline: thin solid red;*/
  margin-bottom: 100px;
}
#account_info {
  position: relative;
  float: right;
  padding: 20px;
  background-color: #ccd0ff;
  border-radius: 20px;
  margin-bottom: 30px;
  text-align: right;
}

/* ------ SHOW MATTER ----- */

.bubble {
  padding: 30px;
  background-color: #ccd0ff;
  border-radius: 20px;
  margin-bottom: 30px;
}







